[Unit]
Description=Install Homebrew Packages from Brewfile
After=brew-setup.service network-online.target
ConditionPathExists=/home/linuxbrew/.linuxbrew/bin/brew
ConditionPathExists=/usr/share/homebrew/Brewfile

[Service]
User=1000
Type=oneshot
ExecStart=/home/linuxbrew/.linuxbrew/bin/brew bundle --file=/usr/share/homebrew/Brewfile
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
EOF