// Printer admin (cups-pk-helper)
polkit.addRule(function (action, subject) {
  const ok = subject.isInGroup("wheel") && subject.active && subject.local;
  const acts = new Set([
    "org.opensuse.cupspkhelper.mechanism.all-edit",
    "org.opensuse.cupspkhelper.mechanism.add-printer",
    "org.opensuse.cupspkhelper.mechanism.delete-printer",
    "org.opensuse.cupspkhelper.mechanism.configure-printer",
    "org.opensuse.cupspkhelper.mechanism.devices-get",
  ]);
  if (acts.has(action.id)) return ok ? polkit.Result.YES : polkit.Result.NO;
});
