// Time, timezone, NTP (systemd-timedated)
polkit.addRule(function (action, subject) {
  const ok = subject.isInGroup("wheel") && subject.active && subject.local;
  const acts = new Set([
    "org.freedesktop.timedate1.set-time",
    "org.freedesktop.timedate1.set-timezone",
    "org.freedesktop.timedate1.set-local-rtc",
    "org.freedesktop.timedate1.set-ntp",
  ]);
  if (acts.has(action.id)) return ok ? polkit.Result.YES : polkit.Result.NO;
});
