// GNOME Network settings / NM applets
polkit.addRule(function (action, subject) {
  const ok = subject.isInGroup("wheel") && subject.active && subject.local;
  const acts = new Set([
    "org.freedesktop.NetworkManager.network-control",
    "org.freedesktop.NetworkManager.enable-disable-network",
    "org.freedesktop.NetworkManager.enable-disable-wifi",
    "org.freedesktop.NetworkManager.enable-disable-wwan",
    "org.freedesktop.NetworkManager.settings.modify.system",
    "org.freedesktop.NetworkManager.settings.modify.own",
  ]);
  if (acts.has(action.id)) return ok ? polkit.Result.YES : polkit.Result.NO;
});
