// Firmware updates (fwupd)
polkit.addRule(function (action, subject) {
  const ok = subject.isInGroup("wheel") && subject.active && subject.local;
  if (action.id.startsWith("org.freedesktop.fwupd."))
    return ok ? polkit.Result.AUTH_ADMIN_KEEP : polkit.Result.NO;
});
