polkit.addRule(function (action, subject) {
  const acts = new Set([
    "org.freedesktop.Flatpak.app-install",
    "org.freedesktop.Flatpak.runtime-install",
    "org.freedesktop.Flatpak.app-uninstall",
    "org.freedesktop.Flatpak.runtime-uninstall",
    "org.freedesktop.Flatpak.install-bundle",
    "org.freedesktop.Flatpak.modify-repo",
    "org.freedesktop.Flatpak.configure-remote"
  ]);
  if (acts.has(action.id)) {
    if (!subject.isInGroup("wheel")) return polkit.Result.NO;
    return polkit.Result.AUTH_ADMIN;
  }
});
polkit.addAdminRule(function (action, subject) {
  return ["unix-group:wheel"];
});
